@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque'), url('./fonts/LabGrotesque-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: local('Lab Grotesque'), url('./fonts/LabGrotesque-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
