@import 'styles/variables.scss';

.tag {
  cursor: pointer;
  padding: 6px 12px;
  color: $black;
  background: #eef0f2;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;

  &.active {
    background: linear-gradient(
        255.35deg,
        #dc3131 0.83%,
        rgba(255, 79, 79, 0) 108.93%
      ),
      #ff5e56;
    color: $white;
  }

  &:not(&.active):hover {
    background: $lightGray2;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}

@media (max-width: $mdBreakpoint) {
  .tag:not(:last-child) {
    margin-right: 8px;
  }
}
